<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec ="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="ISO-8859-1">
    <title>Login - Employee CRUD</title>
    <link th:href="@{~/css/auth/common.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link th:href="@{~/css/authorization.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <form class="form-signin" method="POST" th:action="@{/login}">
        <h2 class="form-heading">Log in</h2>

        <div class="form-group">
            <span th:text="${message}"></span>
            <input name="username" type="text" class="form-control" placeholder="Username"
                   autofocus="true"/>

            <input name="password" type="password" class="form-control" placeholder="Password"/>
            <span class="has-error" th:text="${error}"></span>

            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
            <h4 class="text-center"><a href="/registration">Create an account</a></h4>
        </div>
    </form>
<!--    <div class="container">-->
<!--        <form method="POST" action="$/login" class="form-signin">-->
<!--          <h2 class="form-heading">Log in</h2>-->

          <!-- th:if="${#fields.hasErrors('error')}" th:error="*{error}"
           sec:authentication="username"
           sec:authentication="password"-->
<!--          <div class="form-group ${error != null ? 'has-error' : ''}">-->
<!--              <span th:if="${error != null && error.summary != null}" th:text="${error.summary}">Static summary</span>-->
<!--              <span th:text="*{message}"></span>-->
<!--              <input name="username"  type="text" class="form-control" placeholder="Username"-->
<!--                     autofocus="true"/>-->
<!--              <input name="password"  type="password" class="form-control" placeholder="Password"/>-->
<!--              <span th:object="${error}"></span>&ndash;&gt;-->
<!--              <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->

<!--              <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>-->
<!--              <h4 class="text-center"><a th:href="@{/registration}">Create an account</a></h4>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!-- <div>
    <form th:action="@{/doLogin}" method="post" style="max-width: 400px; margin: 0 auto;">
        <h1>Login to my CRUD</h1>
        <p>
            E-mail: <input type="text" name="email" required />
        </p>
        <p>
            Password: <input type="password" name="password" required />
        </p>
        <p>
            <input type="submit" value="Login" />
        </p>
    </form> -->
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
</body>
</html>