<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
        <meta charset="utf-8">
        <title>Create an account</title>
        <link th:href="@{~/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>      
        <link th:href="@{~/css/auth/common.css}" rel="stylesheet" type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  </head>

  <body>
  <div class="container">

      <form method="POST" class="form-signin" th:object="${userForm}" th:action="@{/registration}">
          <h2 class="form-signin-heading">Create your account</h2>
          <div class="form-group">
              <input type="text" th:field="*{username}" class="form-control" placeholder="Username"
                     autofocus="true">
              <span class="has-error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
          </div>

          <div class="form-group">
              <input type="password" th:field="*{password}" class="form-control" placeholder="Password">
              <span class="has-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
          </div>

          <div class="form-group">
              <input type="password" th:field="*{passwordConfirm}" class="form-control"
                     placeholder="Confirm your password">
              <span class="has-error" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></span>
          </div>

          <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>

  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="/js/main.js"></script>

<!--    <div class="container">-->
<!--        <form action="#" th:action="@{/registration}" th:object="${userForm}" method="post">-->
<!--            <p>Username: <input type="text" th:field="*{username}" autofocus="true" placeholder="Username"/></p>-->
<!--            <p>Password: <input type="password" th:field="*{password}" placeholder="Password"/></p>-->
<!--            <p>PasswordConfirm: <input type="password" th:field="*{passwordConfirm}" placeholder="PasswordConfirm"/></p>-->
<!--            <p>Role:-->
<!--                <select th:field="*{role}">-->
<!--                    <option id="role" th:each="p : ${listRole}" th:value="${p}" th:text="${p}"></option>-->
<!--                </select>-->
<!--            </p>-->
<!--            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>-->
<!--        </form>-->
<!--    </div>-->

    
  </body>
</html>