<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <form action="#"
          th:action="@{/updateUser/{id}(id=${id})}"
          th:object="${updatedUser}"
          method="post"
          xmlns:th="http://www.thymeleaf.org">
        <head>
            <title>update USER Information</title>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

            <link th:href="@{~/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
            <link th:href="@{~/css/employeeStyle/pageStyle.css}" rel="stylesheet" type="text/css"/>
            <link th:href="@{~/css/employeeStyle/inputDataSheet.css}" rel="stylesheet" type="text/css"/>
            <link th:href="@{~/css/generic/switchStyle.css}" rel="stylesheet" type="text/css"/>

            <script th:src="@{~/js/employee/confirm.js}" type="text/javascript" th:inline="javascript"></script>
        </head>
        <body class="bodyBackground">
            <div class="inputDataSheet">
                <div class="center">
                    <!--   label for, input id 名稱需一致-->
                    <label class="title" for="name">Name</label>
                    <input id="name"
                           class="field"
                           type="text"
                           th:field="*{username}"
                           placeholder="Username">
                    <span th:if="${#fields.hasErrors('username')}"
                          th:errors="*{username}"></span>
                </div>
                <br/>
<!--                <div class="center">-->
<!--                    &lt;!&ndash;   label for, input id 名稱需一致&ndash;&gt;-->
<!--                    <label class="title" >Name</label>-->
<!--                    <input-->
<!--                           class="field"-->
<!--                           type="text"-->
<!--                           th:field="*{roleEnum}"-->
<!--                           placeholder="Username">-->
<!--                    <span th:if="${#fields.hasErrors('username')}"-->
<!--                          th:errors="*{roleEnum}"></span>-->
<!--                </div>-->
<!--                <div class="center">-->
                    <!--  th:checked="*{isActive}" 可成功渲染checkbox   -->
                    <!--  th:field="" 才能完全以物件內容的value改變value   -->
                    <!--  th:checked th:field 目前測起來兩個無法並存   -->
<!--                    <label class="title" for="isActive">is Active</label>-->
<!--                    <div class="checkbox">-->
<!--                        &lt;!&ndash; Do not use th:name for checkboxes, just name https://riptutorial.com/thymeleaf/example/9568/using-checkboxes                       &ndash;&gt;-->
<!--                        <input type="checkbox"-->
<!--                               class="checkbox"-->
<!--                               th:checked="*{isActive}"-->
<!--                               id="isActive"-->
<!--                               name="isActive"-->
<!--                               th:value="isActive">-->
<!--                        <label for="isActive" class="text"></label>-->
<!--&lt;!&ndash;                    <span th:if="${#fields.hasErrors('isActive()')}"&ndash;&gt;-->
<!--&lt;!&ndash;                          th:error="*{isActive()}"></span>&ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->
                <br/>
                <div class="center">
                    <!-- <option th:each="roleName : ${T(org.example.auth.model.RoleEnum).values()}"-->
                    <label class="title">Role</label>
                    <select class="selectList" th:field="*{roleEnum}">
                        <option id="roleEnum"
                                th:each="roleName : ${T(org.example.auth.model.RoleEnum).values()}"
                                th:value="${roleName}"
                                th:text="${roleName}">
<!--                                [[${roleName}]]-->
                        </option>

                    </select>
                </div>
                <br/>
                <div class="center">
                    <input class="confirmInputDataSheet" type="submit" value="Update User">
                </div>
                </div>
        </body>

    </form>
</html>