<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<!--Issue for study-->
<!--${employees} employees(workable in html)? Employees(class name)?-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">

    <head>
        <title>User Management</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

        <!--        logout icon-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link th:href="@{~/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{~/css/employeeStyle/pageStyle.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{~/css/employeeStyle/tableStyle.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{~/css/generic/main.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{~/css/generic/switchStyle.css}" rel="stylesheet" type="text/css"/>

        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <script th:inline="javascript">
            $(document).ready(function(){
                $(".deleteEmployee").click(function(event){
                    let result = confirm("Are you sure to delete this record?");
                    if (result)
                    {
                        return true;
                    }
                    else
                    {
                        return false;
                    }
                });
            });
        </script>
        <script th:inline="javascript">
            document.addEventListener('turbolinks:load', function () {
              FontAwesome.dom.i2svg()
            })
        </script>
    </head>
    <body>
        <div>
            <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                <input hidden type="submit" value="Sign Out"/>
            </form>
        </div>

        <div class="menu">
            <div class="loginInformation">
                <div style="font-size:10px" sec:authorize="isAuthenticated()">
                    <!--                    <span>Authenticated user :</span></br>-->
                    Logged user: <span sec:authentication="name" style="color:green">NOT FOUND</span></br>
                    Roles: <span sec:authentication="principal.authorities" style="color:red">NOT FOUND</span></br>
                    <span><a href="javascript: document.logoutForm.submit()" role="menuitem" style="font-size:16px">Logout <i class="fa fa-sign-out"></i></a></span>
                </div>

                <!--                <div sec:authorize="hasAnyAuthority('ADMIN')" class="topRightCorner">-->
                <!--                    <a href="/userManagement">User Management</a>-->
                <!--                </div>-->
            </div>
            <ul>
                <li>
                    <a href="/index">index</a>
                </li>
                <li>
                    <a href="/swagger-ui/">Swagger UI</a>
                </li>
                <li>
                    <a sec:authorize="hasAnyAuthority('ADMIN')" href="/user-management">User Management</a>
                </li>
                <!--                <li>Pag2</li>-->
                <!--                <li>Pag3</li>-->
            </ul>
        </div>
        <div class="content">
            <div align=center th:switch="${userManagementList}" xmlns:th="http://www.thymeleaf.org">
            <h2 th:case="null">No user yet!</h2>
                <div th:case="*">
                <h2 id="pageTitle">User Management</h2>
                    <table>
                        <thead>
                        <tr>
                            <th width="200px">User</th>
                            <th width="120px">Enabled</th>
                            <th width="90px">Role</th>
                            <th width="150px">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${userManagementList}">
                            <td class="data" th:text="${user.username}"></td>
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox"
                                           align="center"
                                           th:checked="${user.isActive()}"
                                           disabled="disabled"
                                           id="chk_isActive"
                                           name="isActiveCheckbox"
                                           value="isActive">
                                    <label for="chk_isActive" class="text"></label>
                                </div>
                            </td>
                            <!--    role資料 是在Set裡面 要用each走訪的方式取得      -->
                            <td class="data" th:each="role : ${user.roles}" th:text="${role.getRoleName()}"></td>

                            <td>
                                <a style='font-size:16px'
                                   sec:authorize="hasAnyAuthority('ADMIN')"
                                   class="link"
                                   th:href="@{/editUserInfo/{id}(id=${user.id})}"
                                   type="submit">
                                <i class='fas fa-edit'></i>
                                </a>

                                <a th:href="@{/updateActive/{id}(id=${user.id})}"
                                   sec:authorize="hasAnyAuthority('ADMIN')"
                                   type="submit">
                                    <img border="0" alt="" th:if="${user.isActive()}" th:src="@{~/image/disable.png}" width="20" height="20">
                                    <img border="0" alt="" th:if="${user.isActive() == false}" th:src="@{~/image/enable.png}" width="20" height="20">
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
        </div>
        </div>
    </body>

</html>