/*@import "../reset.css";*/

/*vh，讓左側選單的高度可以跟著視窗高度做改變*/
.menu {
    height: 100vh;
    width: 150px;
    background-color: #E8E8D0;
    float: left;
}

.loginInformation {
    font-family: "Verdana", Times, serif;
}

.content {
     width: 100vw;
     height: 100vh;
     background-color: #ECF5FF;
 }