*{
    margin: 0;
    padding: 0;
    font-family: "Calibri", Times, serif;
    box-sizing: border-box;
}
/* checkbox div */
.checkbox {
    height: 20px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
/*研究一下這個語法怎麼應用 : input[type="checkbox"]:checked*/
.checkbox input {
    position: relative;
    height: 20px;
    width: 45px;
    background-color: #e6e6e6;
    -webkit-appearance: none;
    border-radius: 25px; /* 邊框四個角變圓角 https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_border-radius*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); /* 陰影效果 */
    outline: none; /* 設定輪廓 https://developer.mozilla.org/zh-CN/docs/Web/CSS/outline */
    transition: 0.4s cubic-bezier(0.68, 0.55, 0.265, 1.55); /* 轉場效果 */
}

input:checked {
    background-color: #664aff;
}
/* 這裡之上 click後會有顏色變化 */

/*跟偽元素類似的還有「偽類」( Pseudo classes )，
在 W3C 的定義裡總共有五個偽元素 ( 其他仍在測試階段 )，
分別是::before、::after、::first-line、::first-letter和::selection，
為了和偽類區分，偽元素使用兩個冒號「::」開頭，
而偽類使用一個冒號「:」開頭 ( 像是 :hover、:target...等 )。*/

/*雖然現在的瀏覽器就算寫一個冒號(:)也可以正常運作，不過為了方便區分，用兩個冒號還是比較好的， 而且不論瀏覽器是什麼，::selection必須是兩個冒號才能正常運作。*/

/* 中間的小圓球 但還不會左右跑*/
.checkbox input::before {
    height: 100%;
    width: 20px;
    position: absolute;
    content: "";
    background: linear-gradient(to right, #f2f2f2, #e6e6e6);
    border-radius: 25px;
    transform: scale(0.85);
    box-shadow: 0.2px, 5px, rgba(0, 0, 0, 0.2);
    transition: 0.4s cubic-bezier(0.68, 0.55, 0.265, 1.55);
}
/* 被點選狀態下 中間的小圓球要放在右邊 */
input:checked::before {
    left: 25px;
}

.checkbox .text::before {
    content: "Disabled";
    font-weight: 500;
    font-size: 20px;
    color: #807c7c;
}

input:checked ~ .text::before {
    content: "Enabled";
    color: #664aff;
    font-size: 20px;
}