.inputDataSheet {
    margin: auto;
    width: 50%;
    /*border: 1px solid rgb(168, 224, 215);*/
    padding: 20px;
}

.bodyBackground {
    background: #f1f1d6;
}

.center {
    align: center
}

.title {
    font-family: "Calibri", Times, serif;
    font-size: 20px;
}

.field {
    width: 100%;
    height: 25px;
    font-family: "Calibri", Times, serif;
    font-size: 23px;
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.selectList {
   width                    : 100%;
   height                   : 28px;
   line-height              : 28px;
   padding-right            : 20pt;
   text-indent              : 4pt;
   text-align               : left;
   vertical-align           : middle;
   box-shadow               : inset 0 0 3px #606060;
   border                   : 1px solid #acacac;
   -moz-border-radius       : 6px;
   -webkit-border-radius    : 6px;
   border-radius            : 6px;
   /* 使右邊倒三角消失 */
   /*-webkit-appearance       : none;*/
   /*-moz-appearance          : none;*/
   /*appearance               : none;*/ /*IMPORTANT*/
   font-family              : Arial,  Calibri, Tahoma, Verdana;
   font-size                : 23px;
   font-weight              : 500;
   color                    : #000099;
   cursor                   : pointer;
   outline                  : none;
}
.selectList::-ms-expand {display: none;} /*FOR IE*/
.selectList option
{
    padding             : 4px 10px 4px 10px;
    height              : 23px;
    font-size           : 21px;
    font-weight         : normal;
}
.selectList option[selected]{ font-weight:bold}
.selectList option:nth-child(even) { background-color:#f5f5f5; }
.selectList:hover {font-weight: 700;}
.selectList:focus {box-shadow: inset 0 0 5px #000099; font-weight: 600;}

/*LABEL FOR SELECT*/
/* label#lblSelect{ position: relative; display: inline-block;}*/
/*DOWNWARD ARROW (25bc)*/
/*label#lblSelect::after
{
    content                 : "\25bc";
    position                : absolute;
    top                     : 0;
    right                   : 0;
    bottom                  : 0;
    width                   : 20pt;
    line-height             : 40pt;
    vertical-align          : middle;
    text-align              : center;
    background              : #000099;
    color                   : #fefefe;
   -moz-border-radius       : 0 6px 6px 0;
   -webkit-border-radius    : 0 6px 6px 0;
    border-radius           : 0 6px 6px 0;
    pointer-events          : none;
}*/

.confirmInputDataSheet {
    font-family: "Calibri", Times, serif;
    font-size: 23px;
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}

.confirmInputDataSheet:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.confirmInputDataSheet:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
