/* body {
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #3b3b3b;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    background: #f5f8eb;
} */

#ellipse{
    width:200px;
    height:100px;
    background: -webkit-radial-gradient(ellipse,white,rgb(149, 188, 219));
    background: -o-radial-gradient(ellipse,white,rgb(149, 188, 219));
    background: -moz-radial-gradient(ellipse,white,rgb(149, 188, 219));
    background: radial-gradient(ellipse,white,rgb(149, 188, 219));
    }
    
#circle{
    background: -webkit-radial-gradient(circle,white,rgb(149, 188, 219));
    background: -o-radial-gradient(circle,white,rgb(149, 188, 219));
    background: -moz-radial-gradient(circle,white,rgb(149, 188, 219));
    background: radial-gradient(circle,white,rgb(149, 188, 219));
}

/*.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}*/

.topRightCorner{
    position:absolute;
    top:0;
    right:5;
}

.addNewData {
    font-family: "Calibri", Times, serif;
    font-size: 23px;
    color: #0f3b6d;
    border: solid 1px #a1aab6;
    background: #c4ebf7;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #cfe8f7,  #5ea8e0);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}

/* 游標與物件重疊 */
.addNewData:hover {
	background: #9fc5f0;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #7fc1ec,  #195f8d);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}

/* 物件實際被click */
.addNewData:active {
	color: #c8e4eb;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #195f8d,  #7fc1ec);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}