table{
    border-collapse:collapse;
    border:1px solid rgb(201, 193, 230);
    width: auto;
    text-align: center;
}
th{
    background-color: rgb(236, 228, 205);
    border-collapse:collapse;
    color: rgb(81, 145, 240);
}
td{
    border-collapse:collapse;
    border:1px solid rgb(171, 207, 228);
}
tr:nth-last-of-type(even){
    background-color: white;
}

tr:nth-last-of-type(odd){
    background-color: #f1f1ece5;
}

.data {
    font-family: "Calibri", Times, serif;
}

.link {
    font-family: "Courier New", Times, serif;
}

.header {
    font-family: "Arial", Times, serif;
}