<template>
  <h1>{{ msg }}</h1>
</template>

<script>

export default {
  name: 'EmployeeCRUD',
  data() {
    return {
      msg: ''
    }
  },
  mounted() {
    fetch("/EmployeeCRUD")
      .then((response) => response.text())
      .then((data) => {
        this.msg = data;
      });
  }
}
</script>