<form action="#"
      th:action="@{/addEmployee}"
      th:object="${employees}"
      method="post"
      xmlns:th="http://www.thymeleaf.org">
    <head>
      <title>Add an Employee</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

        <link th:href="@{~/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{~/css/employeeStyle/pageStyle.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{~/css/employeeStyle/inputDataSheet.css}" rel="stylesheet" type="text/css"/>
        <script th:src="@{~/js/employee/confirm.js}" type="text/javascript" th:inline="javascript"></script>
    </head>
    <!-- class="center" is from inputDataSheet-->
    <body class="bodyBackground">
      <div class="inputDataSheet">
        <!--   label for, input id 名稱需一致-->
        <div class="center">
          <label class="title" for="name">Name</label>
          <br/>
          <input class="field"
                 type="text"
                 th:field="*{name}"
                 id="name"
                 placeholder="Employee Name">
          <span th:if="${#fields.hasErrors('name')}"
                th:errors="*{employees.name}"></span>
        </div>
        <br/>
        <div class="center">
          <label class="title" for="phoneNum">Phone Number</label>
          <br/>
          <input class="field"
                 type="text"
                 th:field="*{phoneNum}"
                 id=phoneNum
                 placeholder="0912345678">
          <span th:if="${#fields.hasErrors('phoneNum')}" th:error="*{employees.phoneNum}"></span>
        </div>
        <br/>
        <div class="center">
          <label class="title">Profession</label>
          <br/>
          <select class="selectList" th:field="*{profession}">
            <option th:each="profession : ${listProfession}"
                    th:value="${profession}"
                    th:text="${profession}">
            </option>
          </select>
        </div>
        <br/>
        <div>
          <input class="confirmInputDataSheet"
                 type="submit"
                 value="Add Employee">
        </div>
      </div>
    </body>
    
    
</form>