<!--Issue for study-->
<!--${employees} employees(workable in html)? Employees(class name)?-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">

    <head>
        <title>Employee Register</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style>
            .menu {
                /*width: 100vw;*/
                background-color: #ECF5FF;
                color: rgb(54, 50, 50);                
            }
            
            .dark-mode {
                background-color: black;
                color: white;
            }
            </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

        <!--        logout icon-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link th:href="@{~/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{~/css/employeeStyle/pageStyle.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{~/css/employeeStyle/inputDataSheet.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{~/css/employeeStyle/tableStyle.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{~/css/generic/main.css}" rel="stylesheet" type="text/css"/>

        <script th:inline="javascript">
            $(document).ready(function(){
                $(".deleteEmployee").click(function(event){
                    let result = confirm("Are you sure to delete this record?");
                    if (result)
                    {
                        return true;
                    }
                    else
                    {
                        return false;
                    }
                });
            });

            function changeStyle(color){
                var element = document.body;
                element.classList.toggle("dark-mode");
                // document.getElementById("changeStyle").style.background = color;
                // var x = document.getElementById("content");
                // pageTitle, data, background, table
                // document.getElementById("pageTitle").style.color = color;

                // 修改class的style 由於回傳為array 所以需要用迴圈處理
                // var element = document.getElementsByClassName("data");
                // for (var i = 0; i < element.length; i++) {
                //     element[i].style.color = color;
                // }
            }
        </script>
    </head>
    <body>
        <div>
            <!-- The reason you should use Logout button because Spring Security automatically generates a security token to prevent CSRF (Cross-Site Request Forgery) attack in the login page.-->
            <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                <input hidden type="submit" value="Sign Out"/>
            </form>
        </div>

        <div class="menu">
            <div class="loginInformation">
                <div style="font-size:10px" sec:authorize="isAuthenticated()">
                    Logged user: <span sec:authentication="name" style="color:green">NOT FOUND</span></br>
                    Roles: <span sec:authentication="principal.authorities" style="color:red">NOT FOUND</span></br>
                    <span><a href="javascript: document.logoutForm.submit()" role="menuitem" style="font-size:16px">Logout <i class="fa fa-sign-out"></i></a></span>
                </div>

            </div>
            <ul>
                <li>
                    <a href="/index">index</a>
                </li>
                <li>
                    <a href="/swagger-ui/">Swagger UI</a>
                </li>
                <li>
                    <a sec:authorize="hasAnyAuthority('ADMIN')" href="/user-management">User Management</a>
                </li>
                <li>
                    <a href="/chart">Proportion of Profession</a>
                </li>
<!--                <li>-->
<!--                    <button class="changeStyle" id="changeStyle" type="button" onclick="changeStyle('red');">Style</button>-->
<!--                </li>-->


<!--                <li></li>-->
            </ul>
        </div>
        <div id="content" class="content">
            <div style="position:absolute; top:0; right:5;">
                <form method="post"
                      th:action="@{/search}">
                    <input type="text" placeholder="Search employee..." th:name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div align=center th:switch="${employees}" xmlns:th="http://www.thymeleaf.org">
                <h2 th:case="null">No employees yet!</h2>
                <div th:case="*">
                    <h2 id="pageTitle">[[${title}]]</h2>
                    <table>
                        <thead>
                            <tr>
                                <th class="header"
                                    width="150px">
                                    <a th:if = "${isBySearch == false}" th:href="@{'/index/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">
                                        Name
                                    </a>
                                    <a th:if = "${isBySearch == true}">
                                        Name
                                    </a>
                                </th>
                                <th class="header"
                                    width="200px">
                                    <a th:if = "${isBySearch == false}" th:href="@{'/index/' + ${currentPage} + '?sortField=phoneNum&sortDir=' + ${reverseSortDir}}">
                                        Phone Number
                                    </a>
                                    <a th:if = "${isBySearch == true}">
                                        Name
                                    </a>
                                </th>
                                <th class="header"
                                    width="200px">
                                    <a th:if = "${isBySearch == false}" th:href="@{'/index/' + ${currentPage} + '?sortField=Profession&sortDir=' + ${reverseSortDir}}">
                                        Profession
                                    </a>
                                    <a th:if = "${isBySearch == true}">
                                        Profession
                                    </a>
                                </th>
                                <th class="header" width="120px" sec:authorize="hasAnyAuthority('EDITOR', 'ADMIN')">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="employees : ${employees}">
                                <td class="data" th:text="${employees.name}"></td>
                                <td class="data" th:text="${employees.phoneNum}"></td>
                                <td class="data" th:text="${employees.profession}"></td>
                                <td>
                                    <a class="link"
                                       th:href="@{/edit/{id}(id=${employees.id})}"
                                       sec:authorize="hasAnyAuthority('ADMIN', 'CREATOR', 'EDITOR')">
                                        <i class='fas fa-edit'></i>
                                    </a>
                                    <a style="font-family: Courier New"
                                       class="deleteEmployee"
                                       th:href="@{/delete/{id}(id=${employees.id})}"
                                       sec:authorize="hasAnyAuthority('ADMIN', 'CREATOR')">
                                        <i class='fas fa-trash-alt'></i>
                                    </a>
                                </td>
                                <!-- 如果用id 則只有表格的第一列會有作用 而更改為class後可通用在所有class-->
                            </tr>
                        </tbody>
                    </table>

                <p><a href="/signup" class="addNewData" sec:authorize="hasAnyAuthority('EDITOR', 'ADMIN')">Add a new employee</a></p>
                    <div align="center"
                         th:if = "${totalPages > 1}">
                        <div class = "row col-sm-10">
                            <div class = "col-sm-2">
                                Total Rows: [[${totalItems}]]
                            </div>
                            <div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/index/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
                            </div>
                            <div class = "col-sm-1">
                                <a th:if="${currentPage < totalPages}" th:href="@{'/index/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                                <span th:unless="${currentPage < totalPages}">Next</span>
                            </div>

                            <div class="col-sm-1">
                                <a th:if="${currentPage < totalPages}" th:href="@{'/index/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                                <span th:unless="${currentPage < totalPages}">Last</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>