<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <form action="#"
        th:action="@{/update/{id}(id=${id})}"
        th:object="${employee}"
        method="post"
        xmlns:th="http://www.thymeleaf.org">
        <head>
          <title>update EMPLOYEE Information</title>
          <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

          <link th:href="@{~/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
          <link th:href="@{~/css/employeeStyle/pageStyle.css}" rel="stylesheet" type="text/css"/>
          <link th:href="@{~/css/employeeStyle/inputDataSheet.css}" rel="stylesheet" type="text/css"/>
          <script th:src="@{~/js/employee/confirm.js}" type="text/javascript" th:inline="javascript"></script>
      </head>      
      <body class="bodyBackground">
        <div class="inputDataSheet">
            <div class="center">
          <!--   label for, input id 名稱需一致-->
              <label class="title" for="name">Name</label>
              <input class="field"
                     id="name"
                     type="text"
                     th:field="*{name}"
                     name="name"
                     placeholder="Employee Name">
              <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>
            <br/>
            <div class="center">
              <label class="title" for="phoneNum">Phone Number</label>
              <input class="field"
                     id="phoneNum"
                     type="text"
                     th:field="*{phoneNum}"
                     name="name"
                     placeholder="0912345678">
              <span th:if="${#fields.hasErrors('phoneNum')}" th:error="*{phoneNum}"></span>
            </div>
            <br/>
            <div class="center">
              <label class="title">Profession</label>
              <select class="selectList" th:field="*{profession}">
                  <option id="profession"
                          th:each="profession : ${listProfession}"
                          th:value="${profession}" th:text="${profession}">
                  </option>
              </select>
            </div>
            <br/>
            <div class="center">
              <input class="confirmInputDataSheet" type="submit" value="Update Employee">
            </div>
          </div>
        </div>
      </body>
          
  </form>
</html>